@page
@model Parking.Mqtt.Api.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MqttServerConfiguration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.TCPServer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.TCPServer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.Port)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.UseTls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.UseTls)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.CleanSession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.CleanSession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttServerConfiguration.KeepAlive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttServerConfiguration.KeepAlive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MqttServerConfiguration.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
