@page
@model Parking.Mqtt.Api.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MqttStatusViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttStatusViewModel.Connected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttStatusViewModel.Connected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttStatusViewModel.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttStatusViewModel.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttStatusViewModel.TcpServer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttStatusViewModel.TcpServer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MqttStatusViewModel.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MqttStatusViewModel.Port)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MqttStatusViewModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
