@page
@model Parking.Mqtt.Api.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].TCPServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].UseTls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].CleanSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].KeepAlive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MqttServerConfiguration)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TCPServer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseTls)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CleanSession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeepAlive)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Topics.FirstOrDefault().TopicName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MqttServerConfiguration[0].Topics.FirstOrDefault().QoS)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var topic in item.Topics)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => topic.TopicName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => topic.QoS)
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
